@import 'post';

.body {
    @extend %flex-center;
    @extend %flex-column;
    width: 100vw;
    height: 100vh;
}

.header {

    &__logo {
        width: 50vw;
        height: auto;
    }
}

.search {
    @extend %flex-center;
    width: 50vw;

    &__field {
        width: 80%;
        height: 50px;
        border: 2px solid $primary-color;
        padding: 0px 10px;

        @include respond-to(handhelds) {
            height: 40px;
        }
    }

    &__button {
       all: unset;
       width: 51px;
       height: 50px;
       background-image: linear-gradient(45deg, #b343ac 5%, $primary-color 95%);
       color: white;
       text-align: center;

       @include respond-to(handhelds) {
        height: 40px;
    }
    }
}
