@import 'header';
@import 'search';
@import 'gallery';
@import 'not-found';

.body {
    @extend %flex-center;
    @extend %flex-column;
    min-height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

.giphy {
    @extend %flex-center;
    @extend %flex-column;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
